<div class="relative sm:h-full z-0 mt-0 pt-2 sm:pt-12 flex flex-col justify-start items-center gap-8 sm:tall:gap-16">
  <h1 class="title-dc">Ajouter un évènement</h1>
  <form [formGroup]="eventForm" (ngSubmit)="createEvent()" class="w-11/12 sm:w-3/5 flex flex-col gap-3 pb-12 sm:pb-5">
    <div class="input-w-icon">
      <label class="label cursor-pointer">
        <span class="text-dark-lavender">C'est un anniversaire ?</span>
        <input type="checkbox" formControlName="birthday" class="checkbox-dc">
      </label>
    </div>

    <label class="input-w-icon rounded-3xl">
      <p>Titre : </p>
      <input id="title" type="text" formControlName="title" placeholder="Titre de l'événement" class="input-underline w-full">
      <div *ngIf="eventForm.controls.title.dirty || eventForm.controls.title.touched " class="error">
        <p *ngIf="eventForm?.controls?.title?.errors?.['required']">Le titre de l'évènement est obligatoire.</p>
      </div>
    </label>


    <label class="input-w-icon rounded-3xl">
      <p>Description : </p>
      <input id="description" type="text" formControlName="description" placeholder="Description" class="input-underline w-full">
    </label>

    <mat-form-field class="bg-white p-4 rounded-3xl">
      <mat-label>Quand aura lieu cet évènement ?</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="eventForm.controls.date">
      <mat-hint>JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button type="submit" class="button-dc col-span-2 w-3/4 sm:w-1/4 place-self-center">Enregistrer</button>
  </form>
</div>
<div class="fixed bottom-32 sm:bottom-0 right-0 w-2/5 text-sky-400 fill-sky-200 opacity-10  -z-10">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14v-2c0-3.771 0-5.657 1.172-6.828C4.343 4 6.229 4 10 4h4c3.771 0 5.657 0 6.828 1.172C22 6.343 22 8.229 22 12v2c0 3.771 0 5.657-1.172 6.828c-.653.654-1.528.943-2.828 1.07M7 4V2.5M17 4V2.5M21.5 9H10.75M2 9h3.875"/><path fill="currentColor" d="M18 17a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0"/></g></svg>
</div>
