<div class="w-full">
  <form [formGroup]="eventForm" (ngSubmit)="createEvent()" class="w-3/5 mx-auto mt-24 p-10 bg-light-lavender border border-dark-lavender rounded-3xl shadow-xl z-10">

    <div>
      <input id="title" type="text" formControlName="title" placeholder="Titre de l'événement">
      <div *ngIf="eventForm.controls.title.dirty || eventForm.controls.title.touched " class="error">
        <p *ngIf="eventForm?.controls?.title?.errors?.['required']">Il faut obligatoirement donner un titre à votre événement.</p>
      </div>
    </div>

    <div>
      <input id="description" type="text" formControlName="description" placeholder="Description">
    </div>

    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [formControl]="eventForm.controls.date">
      <mat-hint>JJ/MM/AAAA</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
<!--    <div>-->
<!--      <label for="date">Titre de l'événement</label>-->
<!--      <input id="date" type="text" formControlName="date">-->
<!--      <label for="date"> jour.</label>-->
<!--      <div *ngIf="eventForm.controls.date.dirty || eventForm.controls.date.touched " class="error">-->
<!--        <p *ngIf="eventForm?.controls?.date?.errors?.['required']">Vous devez mettre la date de l'événement.</p>-->
<!--      </div>-->
<!--    </div>-->

    <div>
      <label for="birthday">C'est un anniversaire ?</label>
      <input id="birthday" type="checkbox" formControlName="birthday">
    </div>

    <button type="submit">Submit</button>
  </form>
</div>
<div class="fixed bottom-32 sm:bottom-0 right-0 w-2/5 text-sky-400 fill-sky-200 opacity-10  -z-10">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><g><path stroke="currentColor" stroke-linecap="round" stroke-width="1.5" d="M14 22h-4c-3.771 0-5.657 0-6.828-1.172C2 19.657 2 17.771 2 14v-2c0-3.771 0-5.657 1.172-6.828C4.343 4 6.229 4 10 4h4c3.771 0 5.657 0 6.828 1.172C22 6.343 22 8.229 22 12v2c0 3.771 0 5.657-1.172 6.828c-.653.654-1.528.943-2.828 1.07M7 4V2.5M17 4V2.5M21.5 9H10.75M2 9h3.875"/><path fill="currentColor" d="M18 17a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m-5 4a1 1 0 1 1-2 0a1 1 0 0 1 2 0m0-4a1 1 0 1 1-2 0a1 1 0 0 1 2 0"/></g></svg>
</div>
