<div class="h-screen pb-10 bg-light-green shadow-lg hidden sm:block">
  <div class="h-full p-5 flex flex-col text-dark-green gap-10">
    <div *ngFor="let element of elements">
      <div class="flex">
        <app-icon [pathData]="element.icon" class="h-full w-6 fill-none"></app-icon>
        <p [textContent]="element.name" class="text-lg ml-8"></p>
      </div>
      <app-divider [color]="'dark-green'" class="bg-dark-green"/>
      <p *ngFor="let child of element.children" [textContent]="child.name" [routerLink]="[child.link]"  class="pl-14 py-1 cursor-pointer font-light hover:text-dark-lavender transition-all"></p>
    </div>
  </div>
</div>

<div class="w-full h-full bg-light-lavender border-t-2 border-light-green shadow-xl block sm:hidden">
  <div class="w-full h-full p-5 flex justify-around text-dark-green gap-6">
      <p [routerLink]="PROGRESS.children[0].link" class="phone-nav-icon" [ngClass]="{'phone-nav-icon-selected': isCurrentURL(PROGRESS.children[0].link)}">
        <app-icon [pathData]="PROGRESS.icon"></app-icon>
      </p>
      <p [routerLink]="CHALLENGES.children[0].link" class="phone-nav-icon" [ngClass]="{'phone-nav-icon-selected': isCurrentGroupURL(CHALLENGES, 'challenge')}">
        <app-icon [pathData]="CHALLENGES.icon"></app-icon>
      </p>
      <p [routerLink]="ENTRY.children[0].link" class="phone-nav-icon-big" [ngClass]="{'bg-light-green text-green': isCurrentURL(ENTRY.children[0].link)}">
        <app-icon [pathData]="ENTRY.children[0].icon ?? ENTRY.icon"></app-icon>
      </p>
      <p [routerLink]="CALENDAR.children[0].link" class="phone-nav-icon" [ngClass]="{'phone-nav-icon-selected': isCurrentGroupURL(CALENDAR, 'event')}">
        <app-icon [pathData]="CALENDAR.icon"></app-icon>
      </p>
      <p [routerLink]="ACCOUNT.children[0].link" class="phone-nav-icon" [ngClass]="{'phone-nav-icon-selected': isCurrentURL(ACCOUNT.children[0].link)}">
        <app-icon [pathData]="ACCOUNT.icon"></app-icon>
      </p>
  </div>
</div>
