<div class="relative sm:h-full z-0 mt-0 pt-2 sm:pt-12 flex flex-col justify-start items-center gap-8 sm:tall:gap-16">
  <h1 class="title-dc">Créer un nouveau challenge</h1>
  <form [formGroup]="challengeForm" (ngSubmit)="createChallenge()" class="w-11/12 sm:w-4/5 grid grid-cols-2 gap-3 pb-12">
    <label class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      Je veux réussir à <input id="name" type="text" formControlName="name" class="input-underline">.
      <div *ngIf="challengeForm.controls?.name?.dirty || challengeForm.controls?.name?.touched || submittedAndInvalid" class="error">
        <p *ngIf="challengeForm?.controls?.name?.errors?.['required']">Le nom du challenge est obligatoire.</p>
      </div>
    </label>

    <label class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      Ce qui me permettra de <input id="description" type="text" formControlName="description" class="input-underline">.
      <div *ngIf="challengeForm.controls?.description?.dirty || challengeForm.controls?.description?.touched || submittedAndInvalid" class="error">
        <p *ngIf="challengeForm?.controls?.description?.errors?.['required']">La description du challenge est obligatoire.</p>
      </div>
    </label>

    <label class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      Je veux relever ce défi pendant <input *ngIf="challengeForm.value.duration_unit !== duration_units[0]" [required]="challengeForm.value.duration_unit !== duration_units[0]" id="duration" type="text" formControlName="duration" class="number input-underline mx-1">
      <select class="select-dc rounded-3xl p-2" formControlName="duration_unit">
        <option *ngFor="let unit of duration_units" [ngValue]="unit">
          {{ unit.name }}
        </option>
      </select>.
      <div *ngIf="challengeForm.controls?.duration?.dirty || challengeForm.controls?.duration?.touched || submittedAndInvalid" class="error">
        <p *ngIf="challengeForm?.controls?.duration?.errors?.['required']">Le temps du challenge est obligatoire.</p>
        <p *ngIf="challengeForm?.controls?.duration?.errors?.['pattern']">Le temps est un nombre, qui peut être à virgule (12.3).</p>
      </div>
    </label>

    <label class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      En le faisant au moins tous les <input id="interval" type="text" formControlName="interval" class="number input-underline mx-1">
      <select class="select-dc rounded-3xl p-2" formControlName="interval_unit">
        <option *ngFor="let unit of interval_units" [ngValue]="unit">
          {{ unit.name }}
        </option>
      </select>
      .
      <div *ngIf="challengeForm.controls?.interval?.dirty || challengeForm.controls?.interval?.touched || submittedAndInvalid" class="error">
        <p *ngIf="challengeForm?.controls?.interval?.errors?.['required']">L'intervalle entre deux entrées du challenge est obligatoire.</p>
        <p *ngIf="challengeForm?.controls?.interval?.errors?.['pattern']">L'intervalle est un nombre, qui peut être à virgule (12.3).</p>
      </div>
    </label>

    <div class="col-span-2 sm:col-span-1">
      <select class="select-dc rounded-3xl w-full" formControlName="entry_type" (change)="exemple_emojis_select = undefined">
        <option *ngFor="let entry of entry_types" [ngValue]="entry" [disabled]="entry.disabled ?? false">{{entry.name}}</option>
      </select>
      <div *ngIf="entryTypeErrors.length !== 0" class="error px-3">
        <p *ngFor="let error of entryTypeErrors" class="pb-1 last:pb-0">{{error}}</p>
      </div>
    </div>

    <label *ngIf="challengeForm.value.entry_type === entry_types[1]" class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      Exemple :
      <input disabled type="text" class="input-underline w-full" placeholder="Expliquer comment s'est passé le challenge aujourd'hui">
    </label>

    <label *ngIf="challengeForm.value.entry_type === entry_types[2]" class="input-w-icon rounded-3xl col-span-2 sm:col-span-1">
      Exemple :
      <input disabled type="text" class="number input-underline" placeholder="12">
    </label>

    <div *ngIf="challengeForm.value.entry_type === entry_types[3]" class="w-full emoji-selector rounded-3xl col-span-2 sm:col-span-1">
        <app-icon *ngFor="let emoji of emojis_basic" (click)="updateEmojisUnique(emoji)" [pathData]="emoji.value" [ngClass]="{'emoji-button-selected': exemple_emojis_select === emoji}" class="emoji-button"></app-icon>
    </div>

    <div *ngIf="challengeForm.value.entry_type === entry_types[4]" class="w-full max-w-full emoji-selector rounded-3xl col-span-2 sm:col-span-1">
      <app-icon *ngFor="let emoji of this.challengeForm.value.emojis" (click)="updateEmojisUnique(emoji)" [pathData]="emoji.value" [ngClass]="{'emoji-button-selected': exemple_emojis_select === emoji}" class="emoji-button"></app-icon>
    </div>


    <div *ngIf="challengeForm.value.entry_type === entry_types[4]" class="w-full div-selector rounded-3xl col-span-2 sm:col-span-1">
      <p class="pb-2">Choisisez les émojis :</p>
      <div class="w-full grid grid-cols-4 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-10 place-items-center">
        <app-icon *ngFor="let emoji of emojis" (click)="updateEmojis(emoji)" [pathData]="emoji.value" [ngClass]="{'emoji-button-selected': emojiSelected(emoji)}" class="emoji-button"></app-icon>
      </div>
    </div>

    <button type="submit" class="button-dc col-span-2 w-3/4 sm:w-1/4 place-self-center">C'est parti !</button>
  </form>
  <app-floating-nav [navElements]="redirectLinks" class="visible sm:hidden"></app-floating-nav>
  <div class="absolute bottom-0 right-0 w-2/5 text-amber-400 text-opacity-10 -z-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M22 8.162v.073c0 .86 0 1.291-.207 1.643c-.207.352-.584.561-1.336.98l-.793.44c.546-1.848.729-3.834.796-5.532l.01-.221l.002-.052c.651.226 1.017.395 1.245.711c.283.393.283.915.283 1.958m-20 0v.073c0 .86 0 1.291.207 1.643c.207.352.584.561 1.336.98l.794.44c-.547-1.848-.73-3.834-.797-5.532l-.01-.221l-.001-.052c-.652.226-1.018.395-1.246.711C2 6.597 2 7.12 2 8.162"/><path fill="currentColor" fill-rule="evenodd" d="M16.377 2.347A26.373 26.373 0 0 0 12 2c-1.783 0-3.253.157-4.377.347c-1.139.192-1.708.288-2.184.874c-.475.586-.45 1.219-.4 2.485c.173 4.348 1.111 9.78 6.211 10.26V19.5H9.82a1 1 0 0 0-.98.804l-.19.946H6a.75.75 0 0 0 0 1.5h12a.75.75 0 0 0 0-1.5h-2.65l-.19-.946a1 1 0 0 0-.98-.804h-1.43v-3.534c5.1-.48 6.039-5.911 6.211-10.26c.05-1.266.076-1.9-.4-2.485c-.476-.586-1.045-.682-2.184-.874" clip-rule="evenodd"/></svg>
  </div>
</div>
