<div class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">Conditions d'utilisation de Daily Canvas</h1>

  <div class="bg-white shadow-sm rounded-md p-6 mb-6">
    <h2 class="text-xl font-semibold mb-4">1. Acceptation des conditions d'utilisation</h2>
    <p>En utilisant l'application Daily Canvas, vous acceptez de vous conformer à ces conditions d'utilisation. Si vous n'acceptez pas ces conditions, veuillez ne pas utiliser l'application.</p>
  </div>

  <div class="bg-white shadow-sm rounded-md p-6 mb-6">
    <h2 class="text-xl font-semibold mb-4">2. Utilisation autorisée</h2>
    <p>Vous êtes autorisé à utiliser l'application Daily Canvas à des fins personnelles et non commerciales. Vous ne pouvez pas utiliser l'application à des fins illégales ou interdites par ces conditions.</p>
  </div>

  <!-- Autres sections des conditions d'utilisation à ajouter ici -->

  <div class="bg-white shadow-sm rounded-md p-6">
    <h2 class="text-xl font-semibold mb-4">Contactez-nous</h2>
    <p>Si vous avez des questions concernant les conditions d'utilisation, veuillez nous contacter :</p>
    <p class="font-semibold">Daily Canvas</p>
    <p>dupasquierantoine&#64;gmail.com</p>
  </div>
</div>
