<div class="max-w-3xl mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold mb-4">Règles de confidentialité de Daily Canvas</h1>

  <div class="bg-white shadow-sm rounded-md p-6 mb-6">
    <h2 class="text-xl font-semibold mb-4">Collecte et utilisation des informations</h2>
    <p>Nous collectons certaines informations personnelles lorsque vous utilisez l'application Daily Canvas. Ces informations sont utilisées dans le but de fournir et améliorer le service. En utilisant l'application, vous consentez à la collecte et à l'utilisation d'informations conformément à cette politique.</p>
    <p>Les types de données collectées peuvent inclure, sans s'y limiter :</p>
    <ul class="list-disc pl-6 mt-2">
      <li>Informations d'identification personnelles (telles que le nom, l'adresse e-mail, etc.)</li>
      <li>Données d'utilisation (telles que les pages visitées, la durée de l'utilisation, etc.)</li>
    </ul>
  </div>

  <!-- Autres sections de la politique de confidentialité à ajouter ici -->

  <div class="bg-white shadow-sm rounded-md p-6">
    <h2 class="text-xl font-semibold mb-4">Contactez-nous</h2>
    <p>Si vous avez des questions sur cette politique de confidentialité, veuillez nous contacter :</p>
    <p class="font-semibold">Daily Canvas</p>
    <p>dupasquierantoine&#64;gmail.com</p>
  </div>
</div>


