<div class="h-screen w-screen max-h-screen max-w-screen flex flex-col">
  <app-header class="flex-none"/>
  @if (loggedIn){
    <div class="absolute sm:static sm:-mt-20 sm:pt-20 h-full w-full flex flex-col sm:flex-row">
      <app-nav class="basis-1/6 sm:grow-0 flex-fixed order-last sm:order-first z-20"></app-nav>
      <div class="basis-5/6 flex-fill sm:flex-auto pt-20 sm:pt-0 overflow-y-auto">
        <router-outlet></router-outlet>
      </div>
    </div>
  } @else {
    <app-connection class="h-full"></app-connection>
  }
</div>
