<div class="h-full w-full flex flex-row items-center">
  <div class="flex flex-col basis-1/4 items-center">
    <div class="px-5 text-center">
      <p class="text-green text-opacity-70">
        {{day[time.getDay()]}}
      </p>
      <p class="text-3xl text-dark-green ">
        {{time.getDate()}}
      </p>
      <p class="text-green text-opacity-70">
        {{month[time.getMonth()]}}
      </p>
    </div>
    <div class="py-2">
      <p class="text-md text-dark-lavender">
        Anniversaires
      </p>
      <div class="text-sm flex flex-col">
        <p>Antoine</p>
        <p>Elyne</p>
      </div>
    </div>
  </div>
  <div class="overflow-auto h-full p-5 grow">
    <!-- foreach event of user -->
    <div class="flex border border-lavender rounded-3xl mb-2 p-2">
      <p class="pr-5"> 01/10/2002 </p>
      <p> Rendez-vous chez mamie bertrand</p>
    </div>
    <div class="flex border border-lavender rounded-3xl  p-2 mb-2">
      <p class="pr-5"> 01/10/2002 </p>
      <p> Rendez-vous chez mamie bertrand</p>
    </div>
    <div class="flex border border-lavender rounded-3xl  p-2 mb-2">
      <p class="pr-5"> 01/10/2002 </p>
      <p> Rendez-vous chez mamie bertrand</p>
    </div>
    <div class="flex border border-lavender rounded-3xl  p-2 mb-2">
      <p class="pr-5"> 01/10/2002 </p>
      <p> Rendez-vous chez mamie bertrand</p>
    </div>
    <div class="flex border border-lavender rounded-3xl  p-2 mb-2">
      <p class="pr-5"> 01/10/2002 </p>
      <p> Rendez-vous chez mamie bertrand</p>
    </div>
  </div>
</div>
