<div class="h-full w-full flex flex-row items-center">
  <div class="flex flex-col basis-1/4 items-center">
    <div class="px-5 text-center">
      <p class="text-green text-opacity-70">
        {{day[time.getDay()]}}
      </p>
      <p class="text-3xl text-dark-green ">
        {{time.getDate()}}
      </p>
      <p class="text-green text-opacity-70">
        {{month[time.getMonth()]}}
      </p>
    </div>
    @if (birthdays.length > 0){
      <div class="py-2 text-center">
        <p class="text-md text-dark-lavender">
          Anniversaires
        </p>
        <div class="text-sm flex flex-col">
          @for (birthday of birthdays; track birthday.id){
            <p> {{birthday.title}}</p>
          }
        </div>
      </div>
    }
  </div>
  <div class="overflow-auto h-full p-5 grow">
    @for (event of events; track event.id){
      <div class="flex border border-lavender rounded-3xl mb-2 p-2">
        <p class="pr-5"> {{getStringDate(event.date)}} </p>
        <p> {{event.title}}</p>
      </div>
    }
    @if(events.length === 0){
    <p>Rien de prévu aujourd'hui !</p>
    }
  </div>
</div>
