<div *ngIf="challenge" class="relative sm:h-full">
  <div class="pt-5 px-10">
    <h1 class="title-dc">Je veux réussir à <span class="font-medium">{{challenge.name}}</span></h1>
    <div *ngIf="entries" class="py-5 w-full sm:w-2/3 mx-auto">
      <div *ngFor="let entry of entries" class="py-2">
        <p class="text-light-green">{{getStringDate(entry.date)}}</p>
        <div *ngIf="entry.value" class="input-w-icon hover:cursor-auto rounded-3xl">
          <p>Réponse : </p>
          <p class="text-black">{{entry.value}}</p>
        </div>
        <div *ngIf="!entry.value" class="w-full h-16 emoji-selector rounded-3xl">
          <app-icon *ngFor="let emoji of challenge.entryTypes" [pathData]="emoji.value" [ngClass]="{'emoji-button-selected':  emoji.id === entry.idEntryType}" class="emoji-button hover:cursor-auto"></app-icon>
        </div>
      </div>
      <p *ngIf="entries.length === 0" class="text-center">Vous n'avez encore pas ajouté de réponse pour ce challenge.</p>
    </div>
    <div *ngIf="!entries" class="w-full pt-20 flex justify-center items-center">
      <span class="loading loading-spinner loading-lg text-dark-lavender"></span>
    </div>
  </div>
  <app-floating-nav [navElements]="redirectLinks" class="visible sm:hidden"></app-floating-nav>
  <div class="fixed bottom-32 sm:bottom-0 right-0 w-2/5 text-amber-400 text-opacity-10 -z-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M22 8.162v.073c0 .86 0 1.291-.207 1.643c-.207.352-.584.561-1.336.98l-.793.44c.546-1.848.729-3.834.796-5.532l.01-.221l.002-.052c.651.226 1.017.395 1.245.711c.283.393.283.915.283 1.958m-20 0v.073c0 .86 0 1.291.207 1.643c.207.352.584.561 1.336.98l.794.44c-.547-1.848-.73-3.834-.797-5.532l-.01-.221l-.001-.052c-.652.226-1.018.395-1.246.711C2 6.597 2 7.12 2 8.162"/><path fill="currentColor" fill-rule="evenodd" d="M16.377 2.347A26.373 26.373 0 0 0 12 2c-1.783 0-3.253.157-4.377.347c-1.139.192-1.708.288-2.184.874c-.475.586-.45 1.219-.4 2.485c.173 4.348 1.111 9.78 6.211 10.26V19.5H9.82a1 1 0 0 0-.98.804l-.19.946H6a.75.75 0 0 0 0 1.5h12a.75.75 0 0 0 0-1.5h-2.65l-.19-.946a1 1 0 0 0-.98-.804h-1.43v-3.534c5.1-.48 6.039-5.911 6.211-10.26c.05-1.266.076-1.9-.4-2.485c-.476-.586-1.045-.682-2.184-.874" clip-rule="evenodd"/></svg>
  </div>
</div>
