<div class="min-h-fit h-full w-full p-2 border border-lavender bg-white rounded-3xl">
  <p>{{challenge.name}}</p>
  <p>{{challenge.description}}</p>
  <p>{{challenge.duration}}</p>
  <p>{{challenge.interval}}</p>
  <label *ngIf="isText()" class="input-w-icon rounded-3xl">
    Réponse :
    <input disabled type="text" class="input-underline w-1/3" placeholder="...">
  </label>

  <label *ngIf="isNumber()" class="input-w-icon rounded-3xl">
    Réponse :
    <input disabled type="text" class="number input-underline" placeholder="...">
  </label>

  <div *ngIf="isEmojis()" class="w-full emoji-selector rounded-3xl">
    <app-icon *ngFor="let emoji of challenge.entryTypes" [pathData]="emoji.value" class="emoji-button"></app-icon>
  </div>
</div>
