/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Le Jour Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/Le_Jour_Script.woff2) format('woff2');
  }
}

@layer components {
  .title-dc {
    @apply text-dark-lavender text-2xl sm:text-4xl text-center font-light sm:font-thin;
  }
  .error {
    @apply text-sm text-red-500;
  }
  .button-dc {
    @apply rounded-3xl font-semibold bg-lavender text-dark-lavender p-3 transition-all ease-in-out duration-500 hover:bg-dark-lavender hover:text-light-lavender;
  }
  .input-w-icon {
    @apply block text-dark-lavender rounded-full bg-white border border-lavender p-4 hover:cursor-pointer focus-within:ring-dark-lavender focus-within:ring focus-within:ring-opacity-70;
  }
  .input-w-icon input {
    @apply bg-white text-black hover:cursor-pointer focus:outline-none;
  }
  .input-w-icon .input-underline {
    @apply border-b border-lavender;
  }
  .input-w-icon .number {
    @apply w-6;
  }
  .div-selector {
    @apply text-dark-lavender rounded-full bg-white border border-lavender p-4;
  }
  .emoji-selector {
    @apply flex justify-evenly rounded-full bg-white border border-lavender p-4 focus-within:ring-dark-lavender focus-within:ring focus-within:ring-opacity-70;
  }
  .emoji-button {
    @apply w-12 text-lavender hover:cursor-pointer;
  }
  .emoji-button svg{
    width: 100% !important;
    height: 100% !important;
  }
  .emoji-button-selected {
    @apply text-dark-lavender;
  }
  .select-dc {
    @apply text-dark-lavender rounded-full bg-white border border-lavender p-4 hover:cursor-pointer focus-within:ring-dark-lavender focus-within:ring focus-within:ring-opacity-70;
  }
  .select-dc option {
    @apply rounded;
  }
  .phone-nav-icon {
    @apply h-10 w-10 cursor-pointer rounded-full fill-none;
  }
  .phone-nav-icon-big {
    @apply h-20 w-20 cursor-pointer bg-green rounded-full fill-none p-4 text-light-lavender -mt-12 shadow-2xl;
  }
  .phone-nav-icon-selected {
    @apply fill-light-green;
  }
  .flex-fill {
    flex: 0 1 auto;
  }
  .flex-fixed {
    flex: 0 0 auto;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
