/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Le Jour Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/Le_Jour_Script.woff2) format('woff2');
  }
}

@layer components {
  .error {
    @apply text-sm text-red-500;
  }
}
