/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Le Jour Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/font/Le_Jour_Script.woff2) format('woff2');
  }
}

@layer components {
  .error {
    @apply text-sm text-red-500;
  }
  .button-dc {
    @apply rounded-3xl font-semibold bg-lavender text-dark-lavender p-3;
  }
  .input-w-icon {
    @apply text-dark-lavender rounded-full bg-white border border-lavender p-4 hover:cursor-pointer focus-within:ring-dark-lavender focus-within:ring focus-within:ring-opacity-70;
  }
  .input-w-icon input {
    @apply text-black hover:cursor-pointer focus:outline-none;
  }
}
